<%= form_for(@product_target) do |f| %>
  <% if @product_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_target.errors.count, "error") %> prohibited this product_target from being saved:</h2>

      <ul>
      <% @product_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order , {:value => @next_order} %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.number_field :product, {:value => @product.id, :readonly => true} %>
  </div>
  <div class="field">
    <%= f.label 'Quantity Target' %><br>
    <%= f.number_field :minqty %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <input type="hidden" name="id" id="id" value="<%= @product.id %>" />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
